<footer class="marketing-footer--light-gray">
    <section>
        <ul>
            <li class="logo-wrapper">
                <div class="logo">
                <img src="/assets/images/nextseas_logo_black.png" alt="NextSeas">
                </div>
            </li>
            <li>
                <nav>
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Jobs</a></li>
                    </ul>
                </nav>
            </li>
            <li>
                <nav>
                    <h4>Developers</h4>
                    <ul>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Apis</a></li>
                        <li><a href="#">Blog</a></li>

                    </ul>
                </nav>
            </li>
            <li>
                <nav>
                    <h4>Follow us</h4>
                    <ul>
                        <li><img src="/assets/images/slack.png" width="20" height="20" alt="Slack"></li>
                        <li><img src="/assets/images/twitter.png" width="20" height="20" alt="Twitter"></li>
                        <li><img src="/assets/images/email.png" width="20" height="20" alt="Mail"></li>
                    </ul>
                </nav>
            </li>
            <li>
                <nav>
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </nav>
            </li>
        </ul>
    </section>

    <section class="legal">
        <ul>
            <li>
                <span class="mashape-footer-content">&copy; Nextseas Inc. {{ site.time | date: '%Y' }}</span>
            </li>
            <li>
                
            </li>
        </ul>
    </section>
</footer>