<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>{{ page_title }}{{ site.name }} - {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="NextSeas"/>
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:site_name" content="{{ site.name }}"/>
  <!-- use share link for facebook -->
  <meta property="og:url" content="{{ site.links.share }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:image" content="{{ site.links.web }}/assets/images/share.png"/>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico"/>
  <link rel="stylesheet" href="/assets/css/styles.css"/>
</head>
